<div class="div-box">
  <h4>Top 3 studios with winners</h4>
  <table class="table border">
    <thead class="table-light">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Win Count</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Columbia Pictures</td>
        <td>2</td>
      </tr>
      <tr>
        <td>Paramount Pictures</td>
        <td>3</td>
      </tr>
      <tr>
        <td>Warner Bros.</td>
        <td>4</td>
      </tr>
    </tbody>
  </table>
</div>
