<div class="mx-4 my-2">
  <div class="row">
    <div class="col-md-12">
      <h4>List movies</h4>
      <table class="table table-striped table-hover table-bordered custom-fixed-table">
        <thead class="table-light">
          <tr>
            <th scope="col" class="text-center">Id</th>
            <th scope="col" class="text-center">
              <span>Year</span><br>
              <input type="number"
                class="form-control mt-2"
                mask="0000"
                placeholder="Filter by Year"
                (keyup)="onYearFilterChange($event)"/>
            </th>
            <th scope="col" class="text-center">Title</th>
            <th scope="col" class="text-center">
              <span>Winner?</span><br>
              <select name="Filter Winner" id="filterWinner" class="form-select mt-2" (change)="onWinnerFilterChange($event)">
                <option value="">Select Yes/No</option>
                <option value="true">Yes</option>
                <option value="false">No</option>
              </select>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr></tr>
          @for (movie of movieListInfo().content; track movie.id) {
            <tr>
              <td>{{ movie.id }}</td>
              <td>{{ movie.year }}</td>
              <td>{{ movie.title }}</td>
              <td>{{ movie.winner ? 'Yes' : 'No' }}</td>
            </tr>
          }
        </tbody>
      </table>
      @if (movieListInfo().pageable && movieListInfo().pageable.paged) {
        <app-pagination [pages]="pages()" (pageChange)="onPageClick($event)"></app-pagination>
      }
    </div>
  </div>
</div>
