.div-box {
  padding: 1rem;
  margin: 1rem;
  border: 1px solid #cfcfcf;
  border-radius: 5px;
  box-shadow: 3px 3px 10px #CFCFCF;
}

a:hover {
  cursor: pointer;
}

.custom-fixed-table {
  table-layout: fixed; /* Isso fará com que todas as colunas tenham a mesma largura */
  width: 100%; /* Garante que a tabela ocupe toda a largura disponível do seu container */
}
